<ul class="list-group list-group-flush">
<% @articles.each do |article| %>
  <li class="list-group-item">
    <%= link_to article.title, article_path(article), class: "text-decoration-none display-6" %>
  </li>
<% end %>
</ul>
